/* Header / Info / Links */
.link--topbar-info-preguntasFrecuentes,
.link--topbar-info-consultaSaldo,
.link--topbar-info-empresas,
.link--topbar-info-personas {
    display: block;
    line-height: 1;
    text-decoration: none;
    font-size: .8rem;
    font-family: 'OpenSans-Bold';
    color: #fff;
    transition: all .5s ease;
    border-radius: 50px;
    padding: 0.3rem 1.5rem;
}

.link--topbar-info-preguntasFrecuentes,
.link--topbar-info-consultaSaldo {
    border: 1px solid #fff;
    transition: all .5s ease;
}

.link--topbar-info-preguntasFrecuentes:hover,
.link--topbar-info-consultaSaldo:hover {
    background-color: #fff;
    color: #312F31 !important;
    transition: all .5s ease;
}

.link--topbar-info-empresas {
    border: 1px solid #F08A34;
    background-color: #F08A34;
}

.link--topbar-info-empresas:hover {
    border: 1px solid #D26C16;
    background-color: #D26C16;
    transition: all .5s ease;
}

.link--topbar-info-personas {
    border: 1px solid #377F80;
    background-color: #377F80;
}

.link--topbar-info-personas:hover {
    border: 1px solid #196162;
    background-color: #196162;
    transition: all .5s ease;
}


/* Home / sideBarContent / Content / Gallery / See More */
.link--home-sideBarContent-content-gallery-seeMore {
    display: block;
    line-height: 1;
    text-decoration: none;
    font-size: 1em;
    font-family: 'OpenSans-Bold';
    color: #fff;
    transition: all .5s ease;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    border: 1px solid #377F80;
    margin-top: 1rem;
    background-color: #377F80;
}

.link--home-sideBarContent-content-gallery-seeMore:hover {
    border: 1px solid #196162;
    background-color: #196162;
    transition: all .5s ease;
}