/* Home / MainSlider */
.caretIcon--home-mainSlider-images {
    color: #fff;
    width: 15px;
    height: 15px;
    padding: 0.5rem;
    border-radius: 50px;
}

.sliderRightArrow--home-mainSlider-images {
    right: 3%;
}

.sliderLeftArrow--home-mainSlider-images {
    left: 3%;
}

.imageElement--home-mainSlider-images {
    height: 100% !important;
    max-height: 100% !important;
}

.paginationDotsContainer--home-mainSlider-images {
    bottom: -7%;
}

.paginationDot--home-mainSlider-images {
    background-color: #ADADAD;
}

.paginationDot--home-mainSlider-images--isActive {
    background-color: #377F80;
    width: 1.5rem !important;
    border-radius: 6px;
}


/* Home / sideBarContent / Content / Products-Carousel */
.sliderLayoutContainer--home-sideBarContent-content-slider-images {
    position: relative;
    z-index: 1;
    padding-bottom: 2rem;
}

.sliderLayoutContainer--home-sideBarContent-content-slider-images::before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 75%;
    border-radius: 5px;
    background: rgb(79, 172, 178);
    background: linear-gradient(90deg, rgba(79, 172, 178, 1) 0%, rgba(169, 35, 78, 1) 100%);
    display: block;
}

.caretIcon--home-sideBarContent-content-slider-images {
    color: #fff;
    width: 15px;
    height: 15px;
    padding: 0.5rem;
    border-radius: 50px;
}

.paginationDotsContainer--home-sideBarContent-content-slider-images {
    bottom: -9%;
}

.paginationDot--home-sideBarContent-content-slider-images {
    background-color: #ADADAD;
}

.paginationDot--home-sideBarContent-content-slider-images--isActive {
    background-color: #377F80;
    width: 1.5rem!important;
    border-radius: 6px;
}